.menuBusca { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			 font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			 color: #FFFFFF; text-decoration: none; background-color: #B18BEA;
		   }
.subMenuBusca { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
				font-style: normal; font-weight: bold; font-variant: normal; text-transform: none;
				color: #000000; text-decoration: none; background-color: #B9D9FD;
			  }		   
.tituloBusca { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; 
			   font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; 
			   text-transform: none; color: #330066; text-decoration: none; letter-spacing: normal;
			   text-align: center; vertical-align: middle; word-spacing: normal; 
			   background-attachment: fixed; background-repeat: repeat; background-position: left top;
			 }
.loginBusca { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 12pt;
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: none;
			  color: #336699; text-decoration: none; line-height: normal;
			}
.BuscaTxt { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
			font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
			color: #333333; text-decoration: none; line-height: normal;
		  }
.tdBusca {
	background-color: #DDEEFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.tdAlternado { background-color: #BBDDEE; }
.tdObs { background-color: #EFFFFF;}
.botaoTD {
	background-image: url(../imagens/bttn_bg.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.botaoTDOver {
	background-image: url(../imagens/bttn_bg1.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.tdConteudo {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #999999;
}
