body { background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; 
		font-style: normal; scrollbar-face-color: #ebebeb; scrollbar-highlight-color: #ffffff; 
		scrollbar-shadow-color: #666666; scrollbar-arrow-color: #666666; scrollbar-track-color:#ffffff;
		scrollbar-darkshadow-color: #000000; scrollbar-3dlight-color: #999999; line-height: normal;
		font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		text-decoration: none; background-attachment: fixed; 
		background-image: url(../imagens/grid_bg.gif); background-repeat: repeat;
		background-position: left top; 
	}
a:link { font-style: normal; line-height: normal; font-variant: normal; text-transform: none;
		 text-decoration: none;
	   }
a:hover { font-style: normal; line-height: normal; font-variant: normal; text-transform: none; 
		  text-decoration: none; color: #616187;
		}
a:active { font-style: normal; line-height: normal;	font-variant: normal; text-transform: none;
		   text-decoration: none;
		 }
a:visited {	font-style: normal; line-height: normal; font-variant: normal; text-transform: none;
			text-decoration: none;
		  }
a {	font-style: normal;	line-height: normal; font-variant: normal; text-transform: none; 
	text-decoration: none;
  }  
.tituloSistema { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
				 font-style: normal; line-height: normal; font-weight: bold; font-variant: normal;
				 text-transform: uppercase; color: #006699; text-decoration: none; letter-spacing: normal;
				 text-align: center; vertical-align: middle; word-spacing: normal; 
				 background-attachment: fixed; background-image: url(../imagens/titleBG.gif);
				 background-repeat: repeat-x; background-position: left top;
			   }
.menuInicio { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			  color: #FFFFFF; text-decoration: none; background-color: #006699;
			}

.menu { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;	font-size: 7pt; font-style: normal;
		font-weight: bold; font-variant: normal; text-transform: uppercase; color: #FFFFFF; 
		text-decoration: none;
	  }
.menu a:link { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			   font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			   color: #FFFFFF; text-decoration: none;
			 }
.menu a:hover { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
				font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
				color: #FFdd00; text-decoration: none;
			  }
.menu a:active { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
				 font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
				 color: #000000; text-decoration: none;
			   }
.menu a:visited { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
				  font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
				  text-decoration: none;
				}
.subMenu { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; font-style: normal;
		   font-weight: bold; font-variant: normal; text-transform: none; color: #000000; 
		   text-decoration: none; background-color: #006699;
		 }
.subMenuOver { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			   font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			   color: #FFFFFF; text-decoration: none; background-color: #FFFFFF; border-bottom-width: 1px;
			   border-bottom-style: solid; border-bottom-color: #666666; cursor: hand;
			 }
.subMenuOut { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; 
			  color: #06699; text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid;
			  border-bottom-color: #666666;
			}
.versao { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; font-style: normal;
		  line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; 
		  color: #6699CC; text-decoration: none; background-image: url(../imagens/bttmBar_versBG.gif);				
		  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;
		}
.bttmBar { background-image: url(../imagens/bttmBar.jpg); background-repeat: repeat-x; 
		   border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999; 
		   background-color: #FFFFFF;
		 }
.loginTable { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 11px; 
			  font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #FFFFFF; border: 1px solid #000000;
			}
.loginTableTitle { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 12pt; 
				   font-style: normal; font-weight: bold; font-variant: normal; text-transform: none;
				   color: #38566C; text-decoration: none; line-height: normal;
				 }
.txt { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; 
	   font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
	   text-decoration: none;
	 }
.txtBold { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; 
		   font-weight: bold; font-variant: normal; text-transform: none; color: #000000; 
		   text-decoration: none; line-height: normal;
		 }
.linkvermelho { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: none;
				color: #CC3300; font-style: normal; line-height: normal; font-weight: bold; 
				font-variant: normal;
			  }
.linkvermelho a:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; 
					   text-decoration: none; color: #FF0000; font-style: normal; line-height: normal;
					   font-weight: bold; font-variant: normal; text-transform: none;
					 }
.linkvermelho a:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt;
						  text-decoration: none; color: #FF6600; font-style: normal; line-height: normal;
						  font-weight: bold; font-variant: normal; text-transform: none;
					   }
.linkvermelho a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; 
						color: #CC0000; text-decoration: none; font-style: normal; line-height: normal;
						font-weight: bold; font-variant: normal; text-transform: none; 
					  }
.linkvermelho a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; 
						  text-decoration: none; color: #990000; font-style: normal; line-height: normal;
						  font-weight: bold; font-variant: normal; text-transform: none;
						}
.linkpreto { text-decoration: none; font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; 
			 font-size: 8pt; font-style: normal; line-height: normal; font-variant: normal; 
			 color: #666666; font-weight: bold;
		   }
.linkpreto a:link { text-decoration: none; font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
					font-size: 8pt; font-style: normal; line-height: normal; font-variant: normal;
					text-transform: none; color: #666666; font-weight: bold;
				  }
.linkpreto a:visited { text-decoration: none; color: #666666; 
					   font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
					   font-size: 8pt; font-style: normal; line-height: normal; font-variant: normal;
					   text-transform: none; font-weight: bold;
					 }
.linkpreto a:hover { text-decoration: none; color: #003366; 
					 font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; 
					 font-style: normal; line-height: normal; font-variant: normal; text-transform: none;
					 font-weight: bold;
				   }
.linkpreto a:active { text-decoration: none; color: #003366; 
					  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt;
					  font-style: normal; line-height: normal; font-weight: bold; font-variant: normal;
					  text-transform: none;
					}

.tituloSistemaInterno { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt;
 						font-style: normal; line-height: normal; font-weight: bold; font-variant: normal;
						text-transform: uppercase; color: #006699; text-decoration: none; 
						letter-spacing: normal; text-align: center; vertical-align: middle; 
						word-spacing: normal; background-attachment: fixed; 
						background-image: url(../imagens/titleBG.gif); background-repeat: repeat-x;
						background-position: left top;
					  }
.input { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
	     font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		 text-decoration: none; background-color: #FFFFFF; border: 1px solid #000000;
	   }
.textarea { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 9pt; 
			font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; 
			text-transform: none; color: #000000; text-decoration: none; background-color: #FFFFFF;
			letter-spacing: normal; text-align: left; word-spacing: normal;
		 }
.botao { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold;
		 color: #FFFFFF; background-color: #6699cc; border: 1px solid #000000;
	   }
.td	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal;
	  line-height: normal; border-bottom-width: 1px; border-bottom-style: solid; 
	  border-bottom-color: #666666; text-transform: uppercase;
	 }
		  
.erro { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal;
		font-weight: bold; font-variant: normal; color: #FF0000; text-decoration: none;
      }
.sucesso { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
		   font-weight: bold; font-variant: normal; color: #007700; text-decoration: none;
		 }
.tr { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal;
	  font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
	  text-decoration: none; background-color: #F4F4F4;
	}
.tr1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; 
	   font-weight: normal; font-variant: normal; text-transform: none; color: #000000;
	   text-decoration: none; background-color: #F9F9F9;
	 }
.trResposta { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal;		
			  font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
			  text-decoration: none; background-color: #EEFFEE;
			}
.Obs { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; 
	   font-weight: bold; font-variant: normal; color: #FF0000; text-decoration: none;
	 }
.tdOperacoes { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold;
			   color: #000000; text-decoration: none; background-color: #dddddd;
			 }	 
