.req { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
	   font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
	   text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
	 }
.failed { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
	      font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		  text-decoration: none; background-color: #FFFFFF; border: 1px solid #FF0000;
		}
.optional { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
			font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
			color: #000000; text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
		  }
.email { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
		 font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		 text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
	   }
.cnpj {	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
		font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
	  }
.cpf {	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
		font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
	  }	  
.emailFailed { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
			   line-height: normal; font-weight: normal; font-variant: normal; text-transform: none;
			   color: #000000; text-decoration: none; background-color: #FFFFFF; 
			   border: 1px solid #FF0000;
			 }
.cnpjFailed { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
			  line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #efefef; border: 1px solid #FF0000;
			}
.cpfFailed { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
			  line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #efefef; border: 1px solid #FF0000;
			}			
.select { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
		  font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		  text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
		}
.selectFailed { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
				font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
				color: #FFFFFF; text-decoration: none; background-color: #FF0000; 
				border: 1px solid #ffdddd;
			  }
.numero { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; font-style: normal;
	 	  font-weight: normal; font-variant: normal; text-transform: none; color: #000000; 
		  text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
		}
.numeroFailed { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt;
				font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
				color: #000000; text-decoration: none; background-color: #FFFFFF; 
				border: 1px solid #FF0000; 
			  }		  
.erro { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal;
		font-weight: bold; font-variant: normal; color: #FF0000; text-decoration: none;
      }
.sucesso { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
		   font-weight: bold; font-variant: normal; color: #007700; text-decoration: none;
		 }
.radio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.radioFailed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FF0000;
	border: 1px solid #000000;

}
.optional1 {
font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
			font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
			color: #000000; text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
}
.optionalCPF {

font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 10pt; 
			font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;
			color: #000000; text-decoration: none; background-color: #FFFFFF; border: 1px solid #666666;
}
.optionalCPFfailed {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; 
			  line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #efefef; border: 1px solid #FF0000;
}
