.tituloPos { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; 
			 font-style: normal; line-height: normal; font-weight: bold; font-variant: normal;
			 text-transform: none; color: #BBAA88; text-decoration: none; letter-spacing: normal; 
			 text-align: center; vertical-align: middle; word-spacing: normal; 
			 background-attachment: fixed; background-repeat: repeat; background-position: left top;
		   }
.loginPos { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 12pt; 
			font-style: normal; font-weight: bold; font-variant: normal; text-transform: none;
			color: #998866; text-decoration: none; line-height: normal;
		  }
.subMenuPos { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #EEDDBB;
			}
.menuPos { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; font-style: normal;
		   font-weight: bold; font-variant: normal; text-transform: uppercase; color: #FFFFFF; 
		   text-decoration: none; background-color: #BBAA88; 
		 }		 
.tdPos { background-color: #CCBB99; }		 
.tdAlternado { background-color: #FFFDE0; }
.tdObs { background-color: #CEF4FF;}
.botaoTD {
	background-image: url(../imagens/bttn_bg.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.botaoTDOver {
	background-image: url(../imagens/bttn_bg1.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.tdConteudo {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #999999;
}
