.tituloBiblio { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; 
				font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; 
				text-transform: none; color: #666633; text-decoration: none; letter-spacing: normal;
				text-align: center; vertical-align: middle; word-spacing: normal; 
				background-attachment: fixed; background-repeat: repeat; background-position: left top;
			  }
.loginBiblio { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 12pt; 
			   font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; 
			   color: #999966; text-decoration: none; line-height: normal;
			 }
.menuBiblio { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			  color: #FFFFFF; text-decoration: none; background-color: #999999;
			 }
.subMenuBib { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			  font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; 
			  color: #000000; text-decoration: none; background-color: #E2E9DA;
			}			 
.tdBiblioteca { background-color: #DDDDAA; }
.tdBiblioteca1 { background-color: #E2E9DA; }
.tdAlternado { background-color: #EDF4DB; }
.tdObs { background-color: #CEF4FF;}
.botaoTD {
	background-image: url(../imagens/bttn_bg.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.botaoTDOver {
	background-image: url(../imagens/bttn_bg1.gif);
	background-repeat: repeat;
	border: 1px solid #000000;
}
.tdConteudo {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #999999;
}
