.tituloContato { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; 
				 font-style: normal; line-height: normal; font-weight: bold; font-variant: normal;
				 text-transform: none; color: #FF3333; text-decoration: none; letter-spacing: normal;
				 text-align: center; vertical-align: middle; word-spacing: normal;
				 background-attachment: fixed; background-repeat: repeat; background-position: left top;
			   }
.menuContato { font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 7pt; 
			   font-style: normal; font-weight: bold; font-variant: normal; text-transform: uppercase;
			   color: #FFFFFF; text-decoration: none; background-color: #999999;
			 }
.loginContato {
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 12pt; 
	font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; 
	color: #FF0000; text-decoration: none; line-height: normal;
}
.tdContatos { background-color: #FDCECC; }
